<configuration>
    <property name="LOG_HOME" value="${profile.axe.logback.home}" />
    <property name="LOG.DAO" value="axe-dao.log"/>
    <property name="LOG.COMMON" value="axe-common.log"/>
    <property name="LOG.DOMAIN" value="axe-domain.log"/>
    <property name="LOG.MANAGER" value="axe-manager.log"/>
    <property name="LOG.RPC" value="axe-rpc.log"/>
    <property name="LOG.SERVICE" value="axe-service.log"/>
    <property name="LOG.STUDY" value="axe-study.log"/>
    <property name="LOG.VERIFY" value="axe-verify.log"/>
    <property name="LOG.WEB" value="axe-web.log"/>
    <property name="COMMON_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger.%method[%L] - %msg%n" />
    <property name="LOG_CHARSET" value="UTF-8" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/axe-web.log</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/axe-web.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/axe-error.log</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/axe-error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="AXE.COMMON" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/${LOG.COMMON}</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/${LOG.COMMON}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="AXE.DB" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/axe-db.log</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/axe-db.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="AXE.DAO" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/${LOG.DAO}</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/${LOG.DAO}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="AXE.MANAGER" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/${LOG.MANAGER}</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/${LOG.MANAGER}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="AXE.RPC" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/${LOG.RPC}</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/${LOG.RPC}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="AXE.SERVICE" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/${LOG.SERVICE}</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/${LOG.SERVICE}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="AXE.STUDY" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/${LOG.STUDY}</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/${LOG.STUDY}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="AXE.WEB" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/${LOG.WEB}</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/${LOG.WEB}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="AXE.VERIFY" class="ch.qos.logback.core.FileAppender">
        <file>${profile.axe.logback.home}/${LOG.VERIFY}</file>
        <append>true</append>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${profile.axe.logback.home}/${LOG.VERIFY}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.lzh.framework.common" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="COMMON"/>
    </logger>
    <logger name="org.lzh.framework.axe.dao" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AXE.DAO"/>
    </logger>
    <logger name="org.lzh.framework.axe.service" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AXE.SERVICE"/>
    </logger>
    <logger name="org.lzh.framework.axe.manager" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AXE.MANAGER"/>
    </logger>
    <logger name="org.lzh.framework.axe.study" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AXE.STUDY"/>
    </logger>
    <logger name="org.lzh.framework.axe.verify" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AXE.VERIFY"/>
    </logger>
    <logger name="org.lzh.framework.axe.web" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AXE.WEB"/>
    </logger>
    <!--<logger name="ch.qos.logback" additivity="false" level="debug">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!--sql log-->
    <!--<logger name="com.ibatis" level="DEBUG"  additivity="false">-->
        <!--<appender-ref ref="AXE.DB"/>-->
    <!--</logger>-->
    <!--<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="AXE.DB"/>-->
    <!--</logger>-->
    <!--<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="AXE.DB"/>-->
    <!--</logger>-->
    <!--<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" additivity="false" >-->
        <!--<appender-ref ref="AXE.DB"/>-->
    <!--</logger>-->
    <!--<logger name="java.sql.Connection" level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="AXE.DB"/>-->
    <!--</logger>-->
    <!--<logger name="java.sql.Statement" level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="AXE.DB"/>-->
    <!--</logger>-->
    <!--<logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">-->
        <!-- -->
    <!--</logger>-->
    <logger name="org.springframework" level="debug">
        <!--<appender-ref ref="STDOUT" />-->
    </logger>
    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>